<template>
  <div class="page-tabbar">
    <div class="page-wrap">
      <mt-tab-container class="page-tabbar-container" v-model="selected">
        <mt-tab-container-item id="dashboard_tab">
          <p style="text-align: center">
            Dashboard Coming Soon
          </p>
          <img src="../assets/cordova_bot.png">
        </mt-tab-container-item>
        <mt-tab-container-item id="timeline_tab">
          <p style="text-align: center">
            Timeline Coming Soon
          </p>
          <img src="../assets/vue_logo.png">
        </mt-tab-container-item>
        <mt-tab-container-item id="nearby_tab">
          <p style="text-align: center">
            NearBy Coming Soon
          </p>
          <img src="../assets/cordova_bot.png">
          <img src="../assets/vue_logo.png">
        </mt-tab-container-item>
        <mt-tab-container-item id="challenge_tab">
          <div class="page-part">
            <v-ons-search-input modifier="material" placeholder="Search for a challenge"
              v-model="query" style="width: 100%;">
            </v-ons-search-input>
            <v-ons-list>
              <v-ons-list-item>
                <v-ons-row>
                  <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                  </v-ons-col>
                  <v-ons-col>
                    <div class="range range--material" style="width: 100%;">
                      <input type="range" class="range__input range--material__input"
                        v-bind:style="sliderStyleObject" :level="level"
                        v-model="level" step="1" max="2">
                      <input type="range" class="range__focus-ring range--material__focus-ring">
                    </div>
                  </v-ons-col>
                  <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                  </v-ons-col>
                </v-ons-row>
                <v-ons-row class="data-filter">
                  <v-ons-col width="80px" style="text-align: center; line-height: 31px;">
                    <span v-bind:style="{color: (level == 0)? levelColor: 'inherit'}">
                      Beginner
                    </span>
                  </v-ons-col>
                  <v-ons-col  style="text-align: center; line-height: 31px;">
                    <span v-bind:style="{color: (level == 1)? levelColor: 'inherit'}">
                      Intermediate
                    </span>
                  </v-ons-col>
                  <v-ons-col width="80px" style="text-align: center; line-height: 31px;">
                    <span v-bind:style="{color: (level == 2)? levelColor: 'inherit'}">
                      Advanced
                    </span>
                  </v-ons-col>
                </v-ons-row>
              </v-ons-list-item>
            </v-ons-list>
            <div v-if="filteredList.length">
            <div v-for="(item, index) in filteredList" :key="index" class="card-wrapper">
            <v-ons-card>
              <img :src="getPic(item.image)" alt="Onsen UI" style="width: 100%">
              <div class="title">
                {{item.title}}
              </div>
              <div class="content">
                <v-ons-row>
                  <v-ons-col width="35%" class="row-data" v-bind:style="{ color: levelColor }">
                    <img :src="getLevelPic()"> {{item.level}}
                  </v-ons-col>
                  <v-ons-col width="35%" class="row-data">
                    <img src="../assets/ic-burn.png"> {{item.burn}}
                  </v-ons-col>
                  <v-ons-col width="25%" class="row-data text-blue">
                    {{item.points}} Points
                  </v-ons-col>
                </v-ons-row>
              </div>
            </v-ons-card>
            <img :src="getPic(cardioLogo)" class="over-logo"/>
            <img :src="(item.bookmark)? getPic('ic-bookmark.png') : getPic('ic-bookmark-d.png')"
              class="over-bookmark" @click="bookmark(item.id)"/>
            </div>
            </div>
            <div v-else>
              <v-ons-card>
                  <span centre> No Results Found </span>
              </v-ons-card>
            </div>
          </div>
          <!-- <p>Query: {{ query }}</p> -->
        </mt-tab-container-item>
      </mt-tab-container>
    </div>
    <mt-tabbar v-model="selected">
      <mt-tab-item id="dashboard_tab">
        <img slot="icon" src="../assets/ic-toolbar-db-d.png">
        Dashboard
      </mt-tab-item>
      <mt-tab-item id="timeline_tab">
        <img slot="icon" src="../assets/ic-toolbar-timeline-d.png">
        Timeline
      </mt-tab-item>
      <mt-tab-item id="nearby_tab">
        <img slot="icon" src="../assets/ic-nearby.png">
        Nearby
      </mt-tab-item>
      <mt-tab-item id="challenge_tab" >
        <img slot="icon" src="../assets/ic-toolbar-challenges-d.png">
        Challenges
      </mt-tab-item>
    </mt-tabbar>
  </div>
</template>

<script>
const levels = ['Beginner', 'Intermediate', 'Advanced'];
export default {
  name: 'Dashboard',
  data() {
    return {
      selected: 'challenge_tab',
      query: '',
      level: 1,
      cardioLogo: 'ic-cardio.png',
      cardDetails: [
        {
          id: 1,
          image: 'card-02.png',
          title: '300 Calories Run',
          level: 'Beginner',
          burn: '300 Calories',
          points: '+50',
          bookmark: false,
        },
        {
          id: 2,
          image: 'card-01.png',
          title: '2.5 Km Run',
          level: 'Intermediate',
          burn: '540 Calories',
          points: '+100',
          bookmark: false,
        },
        {
          id: 3,
          image: 'card-03.png',
          title: 'Cardio Workout',
          level: 'Intermediate',
          burn: '600 Calories',
          points: '+125',
          bookmark: true,
        },
        {
          id: 4,
          image: 'card-04.png',
          title: '20 Km Cycling',
          level: 'Advanced',
          burn: '690 Calories',
          points: '+150',
          bookmark: false,
        },
        {
          id: 5,
          image: 'card-02.png',
          title: '3.5 Km Run',
          level: 'Intermediate',
          burn: '540 Calories',
          points: '+100',
          bookmark: true,
        },
        {
          id: 6,
          image: 'card-02.png',
          title: '1.0 Km Speed Walk',
          level: 'Intermediate',
          burn: '600 Calories',
          points: '+125',
          bookmark: false,
        },
      ],
    };
  },
  methods: {
    getPic(index) {
      // eslint-disable-next-line
      return require(`../assets/${index}`);
    },
    getLevelPic() {
      // eslint-disable-next-line
      return require(`../assets/ic-level-${this.level}.png`);
    },
    bookmark(id) {
      const data = this.cardDetails.findIndex(item => item.id === id);
      this.cardDetails[data].bookmark = !this.cardDetails[data].bookmark;
    },
  },
  computed: {
    filteredList() {
      return this.cardDetails.filter(post => post.title
        .toLowerCase()
        .includes(this.query.toLowerCase()) &&
          post.level.toLowerCase() === levels[this.level].toLowerCase());
    },
    levelColor() {
      if (this.level === '0') return 'rgb(22, 171, 47)';
      if (this.level === '1') return 'darkgoldenrod';
      if (this.level === '2') return 'red';
      return 'darkgoldenrod';
    },
    sliderStyleObject() {
      if (this.level === '0') {
        return {
          'background-image': 'linear-gradient(45deg, rgb(22, 171, 47), rgb(239, 11, 11))',
          'background-size': '0% 5px',
        };
      }
      if (this.level === '1') {
        return {
          'background-image': 'linear-gradient(45deg, rgb(22, 171, 47), rgb(243, 162, 16))',
          'background-size': '50% 5px',
        };
      }
      if (this.level === '2') {
        return {
          'background-image': 'linear-gradient(45deg, rgb(22, 171, 47), rgb(239, 11, 11))',
          'background-size': '100% 5px',
        };
      }
      return {
        'background-image': 'linear-gradient(45deg, rgb(22, 171, 47), rgb(243, 162, 16))',
        'background-size': '50% 5px',
      };
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p > img {
  width: 200px;
  height: 200px;
}
.page-tabbar {
  background-color: white;
}
.card__title {
  margin-top: -70px;
  margin-bottom: 0px;
  padding-left: 20px;
}
.card__content {
  padding-left: 20px;
}

ons-col img {
  margin-bottom: -1px;
  height: 12px;
}
.mint-tabbar {
  position: fixed;
}
.mint-tab-item-icon > img {
  height: auto !important;
}
.mint-tabbar > .mint-tab-item.is-selected {
    background-color: #e40cacf2;
    color: #f6f8f9;
}
.mint-tab-container {
  margin: 57px 0;
}
.row-data {
  text-align: left;
  line-height: 31px;
}
.text-blue {
  color:blue;
}
.item-level {
  color: darkgoldenrod
}

.range--material__input[level]::-webkit-slider-thumb {
  background-image: radial-gradient(circle farthest-corner,
                   #f2f2f2 0%, #f2f2f2 4px, #bdbdbd 4px, #bdbdbd 6.4px,
                   transparent 7px);
}

.range__input[level]::-webkit-slider-thumb {
  cursor: pointer;
  position: relative;
  height: 28px;
  width: 28px;
  border: none;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25), 0 3px 2px rgba(0, 0, 0, .25);
  border-radius: 50%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
          appearance: none;
  top: 0;
  z-index: 1;
}

.range__input[level='1']::-webkit-slider-thumb {
  background-color: darkgoldenrod;
}
.range__input[level='2']::-webkit-slider-thumb {
  background-color: red;
}
.range__input[level='0']::-webkit-slider-thumb {
  background-color: rgb(22, 171, 47);
}
.over-logo {
  position: absolute;
  top: 13%;
  left: 8%;
}
.over-bookmark {
  position: absolute;
  top: 13%;
  right: 8%;
}
.card-wrapper {
  position: relative;
}
</style>
