<template>
  <div id="app">
    <v-ons-page>
    <div class="header toolbar toolbar--material">
      <div class="toolbar__left toolbar--material__left">
        <span class="toolbar-button toolbar-button--material">
          <slider :width="150" format="push" direction="left"
            :opacity="0.15" :links="sliderMenu"></slider>
        </span>
      </div>
      <div class="title toolbar__center toolbar--material__center ">
        {{title}} <img slot="icon" src="./assets/ic-dropdown.png">
      </div>
    </div>
    <router-view/>
  </v-ons-page>
  </div>
</template>

<script>
import Slider from '@jeremyhamm/vue-slider';

export default {
  name: 'App',
  data() {
    return {
      title: 'Cardio Challenges',
      sliderMenu: [
        {
          id: 1,
          text: 'Sign In',
          url: '',
        },
        {
          id: 2,
          text: 'Sign Up',
          url: '',
        },
      ],
    };
  },
  components: {
    slider: Slider,
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#app > img {
  width: 200px;
  height: 200px;
}
.header {
  background-color: #3692ee;
  position: fixed;
}
.header .title {
      color: white;
      text-align: center;
}
.zmdi-menu {
  color: white;
}
.navIcon {
  margin-top: 7px;
}
.navIcon svg > path {
    stroke: white;
  }
</style>
